*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darker-blue: #141E30;
  --lighter-blue: #243B55;
  --text-color: #fff;
  --accent-color: #D54242;
  --main-font: Inter;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
  max-width: 1200px;
  margin-inline: auto;
  background: linear-gradient(180deg, var(--darker-blue) 65%, var(--lighter-blue) 85%) no-repeat;
  color: var(--text-color);
  padding-inline: 1em;
  display: grid;
  grid-template-rows: 0.4fr 1fr;
  font-family: var(--main-font), serif;
}

#scoreboard {
  background-color: var(--text-color);
  max-width: 430px;
  margin-inline: auto;
  min-height: 7em;
  padding: 0.8em 1em;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.scoreboard-items {
  background-color: var(--accent-color);
  width: 5.8em;
  border-radius: 0.5em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.scoreboard-items>h2 {
  margin-top: 0.5em;
  font-size: 1rem;
  text-align: center;
}

.scoreboard-items span {
  display: block;
}

.scoreboard-items>p {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

main{
  width: 100%;
  max-width: 455px;
  margin-inline: auto;
}

h1 {
  margin-bottom: 0.5em;
  text-align: center;
}

.boxes-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 5px;
}

.boxes-container>button {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  transition: all ease-in-out 0.2s;

  &:hover {
    background-color: #fff;
    opacity: 0.5;
  }
}